.github
.vscode
.husky
assets
data
docs
meili_data
nginx/cache
node_modules
tests
tmp

.dockerignore
.gitignore
.prettier*
compose*.yaml
Dockerfile
eslint.config.js
tsconfig.tsbuildinfo

!.github/CODEOWNERS
!dist
!docs/*.md
!docs/Docker.png
!.npmrc
!.prettierignore
!.prettierrc.linux
!LICENSE
!package*.json
!README.md
!tsconfig.json
