.github
.vscode
.husky
assets
data
dist
docs
meili_data
nginx/cache
node_modules
tests
tmp

.dockerignore
.gitignore
.prettier*
compose*.yaml
Dockerfile
eslint.config.js

!.github/CODEOWNERS
!tsconfig.json
!.npmrc
!*.md
