.github
.vscode
.husky
assets
data
dist
docs
!docs/Docker.png
!docs/CHANGELOG.md
!docs/PRIVACY.md
!docs/TERMS.md
meili_data
nginx/cache
node_modules
tests
tmp

.dockerignore
.gitignore
.npmignore
.prettier*
compose*.yaml
Dockerfile
eslint.config.ts
tsconfig.tsbuildinfo
