.DS_Store
/.github
/.husky
/.vscode
/data
/docs/*
/meili_data
/nginx
/node_modules
/src
/tests
/tmp

/.dockerignore
/.prettierignore
/.prettierrc*
/compose*.yaml
/Dockerfile
/eslint.config.ts
/tsconfig.json
/tsconfig.tsbuildinfo

!/docs/Docker.png
!/docs/CHANGELOG.md
!/docs/PRIVACY.md
!/docs/TERMS.md
